.anh{
    width: 600px;
    height: 143px;
    padding: 5px;

}
.le5{
    background-color: red;
    width: 600px;
    height: 10px;
    margin-left: 5px;
    display: none;
}
.le1{
    background-color: red;
    width: 600px;
    height: 10px;
    margin-left: 5px;
    display: none;
}
.le2{
    background-color: red;
    width: 600px;
    height: 10px;
    margin-left: 5px;
    display: none;
}
.le3{
    background-color: red;
    width: 600px;
    height: 10px;
    margin-left: 5px;
    display: none;
}
.le4{
    background-color: red;
    width: 600px;
    height: 10px;
    margin-left: 5px;
    display: none;
}